body {
  margin: 0;
  background-color: rebeccapurple;
}

*:focus {
  outline: none;
}

.act-as-link {
  cursor: pointer;
  font-weight: bolder;
  font-size: x-large;
}

.fill-it {
  width: 100%
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #079494;
  text-decoration: none;
}

.link-right-side {
  float: right;
}